<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="Home" href="/">Home</a>
      <a class="nav-item nav-link" id="about" href="/about">About</a>
      <a class="nav-item nav-link" id="contact" href="/contact">Contact</a>
      <a class="nav-item nav-link" id="products" href="/products">Products</a>
      <a class="nav-item nav-link" id="blog" href="/blog">Blogs</a>
    </div>
  </div>
</nav>
