{% extends 'base.html' %} {% block content %}
<h2>{{ object.title }}</h2>
<p>${{ object.price }}</p>
<p>{{ object.description }}</p>
<img
  class="profile-pic"
  src="{{ object.display_image.url }}"
  width="400"
  height="400"
/>
{% if user == object.seller %}
<p>{{ object.summary }}</p>
<a
  class="nav-item nav-link"
  id="Delete-item"
  href="{{ object.get_absolute_url }}update"
  >Update Item</a
>
<a
  class="nav-item nav-link"
  id="Delete-item"
  href="{{ object.get_absolute_url }}delete"
  >Delete Item</a
>
{% endif %} {% endblock %}
